- collapsed = true
= subtitle :locales, collapsed, t(:locales, :scope => [:di, :lookups, :items] ) 
.section

  %small#locales_intro{ hidden_if(!collapsed) }
    = t(:locales_intro, :scope => [:di, :lookups, :items] ) ##unless edit

  #locales{ hidden_if(collapsed) }
    %div
      = render :partial => "locale_form", :collection => I18n.available_locales.sort, :locals => { :lookup_item => lookup_item }

