.panel#summary
  .caption #{t :title, :scope => [:di, :lookups, :items]}

  %br
  .discopeside
    %b= link_to(t(:all_lookups, :scope => [:di, :lookups, :items]), admin_lookups_path)
  &nbsp;&nbsp;&nbsp;&nbsp;&dArr;
  %br

  - unless @parent.nil?
    = render :partial => "sidebar_index_parent", :object => @parent

  %b= @lookup.name
