= render :partial => "sidebar_index_parent", :object => sidebar_index_parent.parent unless sidebar_index_parent.parent.nil?

.discopeside
  %b= link_to(sidebar_index_parent.name, admin_child_lookups_path(:lookup_id => sidebar_index_parent.id))
&nbsp;&nbsp;&nbsp;&nbsp;&dArr;
%br 
